<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>某某化肥有限公司网页模板</title>
    ﻿<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="format-detection" content="telephone=no">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="alternate icon" type="image/png" href="/home/images/favicon.png">
<link rel='icon' href='/home/favicon.ico' type='image/x-ico' />
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="stylesheet" href="/home/css/default.min.css?t=227" />
<!--[if (gte IE 9)|!(IE)]><!-->
<script type="text/javascript" src="/home/lib/jquery/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="lib/amazeui/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script type="text/javascript" src="/home/lib/handlebars/handlebars.min.js"></script>
<script type="text/javascript" src="/home/lib/iscroll/iscroll-probe.js"></script>
<script type="text/javascript" src="/home/lib/amazeui/amazeui.min.js"></script>
<script type="text/javascript" src="/home/lib/raty/jquery.raty.js"></script>
<script type="text/javascript" src="/home/js/main.min.js?t=1"></script>
</head>
<body>
﻿	{include file="../application/home/view/index/top.html"}


    <div class="am-cf"></div>
    <div class="cm-bannre">
        <img src="images/lunbo.jpg"/>
    </div>

    <div class="cm-mian">
        <div class="cml-g">
            <div class="am-u-sm-3 am-u-md-3 am-u-lg-3">
                <div class="cm-type">
                    <ul>
                        <li class="on"><a href="#">新闻资讯</a></li>
                        <li><a href="#">公司动态</a></li>
                        <li><a href="#">行业新闻</a></li>
                        <li><a href="#">农技知识</a></li>
                        <li><a href="#">新闻快讯</a></li>
                    </ul>
                </div>
            </div>
            <div class="am-u-sm-9 am-u-md-9 am-u-lg-9">
                   <div class="cm-article">
                       <div class="cm-title">
                           <div class="cm-title-nav">当前位置：<span><a href="#">网站首页</a></span>><span><a href="#">化肥产品</a></span></div>
                       </div>
                       <div class="cm-content">
                           <div class="product-info">
                               <img src="images/product.jpg"/>
                               <ul>
                                   <li><span>品名：</span>氯化钾</li>
                                   <li><span>分子式：</span>KCI</li>
                                   <li><span>英文名：</span>Potassinum Chloride</li>
                                   <li><span>用途：</span>化工、化肥、农用等。</li>
                                   <li><span>分子量：</span>74.55</li>
                                   <li><span>包装：</span>0kg/内村聚乙烯塑料桶</li>
                                   <li><span>注意事项：</span>保持干燥</li>
                               </ul>
                           </div>
                       </div>
                   </div>
            </div>
        </div>
    </div>


    {include file="../application/home/view/index/foot.html"}


</body>
</html>
