
  <header class="hd">
      <div class="cml-g">
          <div class="hd-left">
              <div class="hd-logo">
                  <a href="#">
                      <img src="/home/images/logo.png" />
                  </a>
              </div>
              <div class="hd-company">
                  <strong>华世塑业有限公司</strong>
                  <span>www.huashi.com</span>
              </div>
          </div>
          <div class="hd-right">

          </div>
      </div>
  </header>

  <div class="hd-nav">
      <button class="am-show-sm-only am-collapsed" data-am-collapse="{target: '.hd-navul'}">&#xe68b;</button>
      <nav>
          <ul class="hd-navul am-collapse" style="height: 0px;">
              <li class="on"><a href="/home/Index/index">首页</a></li>
              <li ><a href="/home/Index/new_list">新闻资讯</a></li>
              <li ><a href="/home/Index/product_list">产品展示</a></li>
              <li ><a href="/home/Index/about">关于我们</a></li>
              <li ><a href="/home/Index/join">加入我们</a>
              <li ><a href="/home/Index/contact">联系我们</a>
          </ul>
      </nav>
  </div>
